.add-movie-controller {
  margin-bottom: 100px;
  .top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .bottom {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 50px;
  }
}

.option-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  span {
    color: var(--white);
  }
  .ant-radio-checked .ant-radio-inner {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
