.admin-genres {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .admin-genres-add {
    margin-left: auto;
  }
  .ant-table-container {
    color: white;
    .ant-table-header {
      .ant-table-cell {
        background-color: #222028;
        color: lightgray;
      }
    }
    .ant-table-body {
      table {
        border-bottom: 0.5px solid #e0d5d5;
        .ant-table-tbody {
          tr {
            font-size: 17px;
            img {
              height: 50px;
              width: 50px;
            }
            .ant-table-cell {
              background-color: #222028;
              .action {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                .action__edit {
                  color: #3c5263;
                  background-color: #222028;
                  border: 1px solid gray;
                  padding: 0.5rem 1.5rem;
                  border-radius: 5px;
                  cursor: pointer;
                  .edit_icons {
                    margin-left: 0.25rem;
                    color: #22c55e;
                  }
                }
                .action__delete {
                  cursor: pointer;
                  background-color: var(--primary-color);
                  border-radius: 5px;
                  padding: 0.1rem 0.5rem;
                  .delete_icons {
                    color: var(--white);
                  }
                }
              }
            }
            &:hover {
              .ant-table-cell {
                background-color: #222028;
              }
            }
          }
        }
      }
    }
  }
  &:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
    .ant-table-tbody
    > tr
    > th,
  :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
    .ant-table-tbody
    > tr
    > td {
    border-bottom: 0.5px solid gray;
  }
}

tr:first-child {
  border-start-start-radius: none;
}
