.card_movie-container {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  .background_movie {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    height: 375px;
    width: 100%;
    img {
      transition: all 0.5s ease;
      width: 100%;
      height: 100%;
    }
    .icon_play {
      background-color: white;
      border-radius: 50%;
      color: var(--primary-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      transition: all 0.5s ease;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      color: #fff;
      display: none;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      cursor: pointer;
      border: 2px solid #fff;
      animation-name: ripple_like;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      svg {
        color: var(--primary-color);
        font-size: 3rem;
      }
    }
    &:hover {
      img {
        filter: blur(4px);
        transform: scale(1.2);
      }
      .icon_play {
        display: flex;
      }
    }
  }
  .info_movie {
    padding: 1.2rem 10px;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    .movie_name {
      margin-top: 10px;
      color: gray;
      font-weight: bold;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        color: crimson;
      }
    }
    .movie_delete-icon {
      width: 30px;
      height: 30px;
      background-color: var(--primary-color);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.4s ease;
      svg {
        color: white;
        transition: all 0.4s ease;
      }
      &:hover {
        background-color: lightgray;
        svg {
          color: var(--primary-color);
        }
      }
    }
  }
}

@keyframes ripple_like {
  0% {
    box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
  }
  80% {
    box-shadow: 0 0 0 5px #fff0, 0 0 0 15px #fff0;
  }
  100% {
    box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(242, 0, 0, 0.4), 0 0 0 0 rgba(242, 0, 0, 0.4);
  }

  80% {
    box-shadow: 0 0 0 5px rgba(242, 0, 0, 0.2), 0 0 0 15px rgba(242, 0, 0, 0.1);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(242, 0, 0, 0), 0 0 0 25px rgba(242, 0, 0, 0);
  }
}
