.reset-password-page {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: #191919;
    padding: 5rem;
    width: 500px;
    .title {
      text-align: center;
      margin-bottom: 5rem;
      font-size: 2rem;
      color: lightgray;
      font-weight: 600;
    }
    button {
      margin-top: 50px;
    }
  }
}
