.forgot-password-page {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: #191919;
    padding: 5rem;
    .title {
      text-align: center;
      margin-bottom: 5rem;
      font-size: 2rem;
      color: lightgray;
      font-weight: 600;
    }
    .valid-email {
      color: red;
      font-size: 15px;
    }
    .desc {
      color: lightgray;
      margin-bottom: 40px;
    }
    button {
      margin-top: 50px;
    }
  }
}
