.movies {
  background-color: var(--background-color);
  .movieList_banner {
    position: relative;
    img {
      height: 400px;
      width: 100%;
    }
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 5rem;
    }
  }
  .movieList_container {
    padding-inline: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 8rem;
    width: 100%;

    .movie_item {
      margin-bottom: 20px;
      width: 100%;
      .genres_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        h1 {
          color: white;
          font-size: 3rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .genres_view {
          color: var(--primary-color);
          cursor: pointer;
          font-size: 15px;
        }
      }

      .cardMovie_container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2.5rem;
        .slider-track {
          display: flex;
          transition: transform 0.5s ease;
          .card_movie {
            flex: 0 0 250px;
            margin-right: 2.5rem;
          }
          .cardMovie {
            width: 300px;
          }
        }
        .btn_prev,
        .btn_next {
          position: absolute;
          color: white;
          z-index: 100;
          cursor: pointer;
          .icon {
            font-size: 1.25em !important;
            color: white;
            font-weight: 900;
            background: rgba(0, 0, 0, 0.5);
            width: 1.5em;
            height: 3.75em;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0.3125em;
            box-shadow: 0 0.5625em 1.1875em rgba(1, 4, 27, 0.050980392156862744);
          }
        }
        .btn_prev {
          left: 0;
          top: 30%;
        }
        .btn_next {
          right: 0;
          top: 30%;
        }
      }
    }
  }
}
