@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Bannercontent {
  display: flex;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 6.25em;
  position: absolute;
}

.leftBannerButton {
  width: 2.5rem;
  height: 7.5rem;
  background-color: rgba(0, 0, 0, 0.214);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  color: white;
}

.rightBannerButton {
  width: 2.5rem;
  height: 7.5rem;
  background-color: rgba(0, 0, 0, 0.214);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  color: white;
}

.button {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.big_title {
  font-size: 6em;
  font-weight: 700;
  background-image: url(https://templates.iqonic.design/streamit/frontend/react/build/static/media/texure.5fd81b0e.jpg);
  background-repeat: repeat-x;
  background-position: 100% 100%;
  -webkit-font-smoothing: antialiased;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.content_rate {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content_age {
  background-color: hsl(208, 7%, 46%);
  padding: 1rem;
  line-height: 1.5;
  font-weight: 700;
}
.description {
  width: 100%;
  max-width: 450px;
  margin: 30px 0;
}
p {
  font-size: 15px;
  line-height: 1.66em;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.tag {
  margin-bottom: 4rem;
}

.btn-play {
  position: relative;
  width: 150px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #b40e0e;
  border-radius: 4px;
  background-color: var(--primary-color);

  transition: all 0.3s;
  .button__text,
  .button__icon {
    transition: all 0.3s;
  }
  .button__text {
    transform: translateX(10px);
    color: #fff;
    text-transform: uppercase;
  }
  .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #b40e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      font-size: 2.5rem;
      color: #fff;
    }
  }
  &:hover {
    background: #b40e0e;
    .button__text {
      color: transparent;
    }
    .button__icon {
      width: 148px;
      transform: translateX(0);
    }
  }
  &:active {
    border: 1px solid #2e8644;
    .button__icon {
      background-color: #2e8644;
    }
  }
}
