.dashboard-container {
  margin-bottom: 100px;
  .dashboard-title {
    padding: 1rem;
    border-bottom: 1px solid #333;
    margin-bottom: 50px;
    h1 {
      color: var(--white);
      font-size: 30px;
      font-weight: 300;
    }
  }
  .dashboard-content {
    .icon {
      color: yellow;
      margin-right: 3px;
    }
    .dashboard-stats {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dashboard-stats-item {
        width: 300px;
        padding: 1.5rem;
        background-color: #222028;
        display: flex;
        align-items: center;
        gap: 4rem;
        .dashboard-stats-icon {
          color: var(--primary-color);
          font-size: 35px;
        }
        .dashboard-stats-content {
          color: var(--white);
          .dashboard-stats-title {
            font-size: 20px;
          }
          .dashboard-stats-count {
            margin-top: 1.5rem;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
    .dashboard-widget {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      .dashboard-widget-item {
        border-radius: 10px;
        background-color: #222028;
        .dashboard-widget-top {
          display: flex;
          padding: 1rem 1.5rem;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #333;
          .dashboard-widget-title {
            color: var(--white);
            align-items: center;
            display: flex;
            font-size: 18px;
            justify-content: flex-start;
            line-height: 26px;
            text-align: left;
          }
          .dashboard-widget-view {
            background-color: #1a191f;
            padding: 0.75rem;
            border-radius: 6px;
            color: #ffffff;
            font-size: 12px;
            transition: all 0.4s ease-in;
            &:hover {
              color: var(--primary-color);
            }
          }
        }
        .dashboard-widget-content {
          width: 100%;
          .ant-table-container {
            color: white;
            .ant-table-header {
              .ant-table-cell {
                background-color: #222028;
                color: lightgray;
              }
            }
            .ant-table-body {
              table {
                border-bottom: 0.5px solid #e0d5d5;
                .ant-table-tbody {
                  tr {
                    font-size: 17px;
                    img {
                      height: 50px;
                      width: 50px;
                    }
                    .ant-table-cell {
                      background-color: #222028;
                    }
                    &:hover {
                      .ant-table-cell {
                        background-color: #222028;
                      }
                    }
                  }
                }
              }
            }
          }
          &:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
            .ant-table-tbody
            > tr
            > th,
          :where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper
            .ant-table-tbody
            > tr
            > td {
            border: none;
          }
        }
      }
    }
  }
}
