.likeMovie_page {
  padding: 10rem;
  background-color: var(--background-color);
  height: 100vh;
  .likeMovie_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
  }
}
