.homePage_background {
  background-color: #141414;

  #navbar {
    background-color: #372c284a;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100000;
  }

  .navbar_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar_container {
    margin: auto;
    width: 85%;
  }

  .navbar_menuItem {
    list-style: none;
    display: flex;
    gap: 4rem;
    color: #333;
    font-size: 2rem;
    align-items: center;
  }

  .navbar_wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
  }

  .navbar_menuRight {
    display: flex;
    align-items: center;
    gap: 15px;
    .search_input {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-input);
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      padding-left: 15px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
      .input {
        width: 100px;
        height: 100%;
        border: none;
        outline: none;
        font-size: 0.9em;
        background-color: var(--background-input);
        caret-color: var(--primary-color);
        color: white;
      }

      .labelforsearch {
        cursor: text;
        padding: 0px 12px;
        .searchIcon {
          width: 17px;
          cursor: pointer;
          color: rgb(223, 223, 223);
        }
      }
      .border {
        height: 40%;
        width: 1.3px;
        background-color: rgb(223, 223, 223);
      }
    }
    .favorites {
      position: relative;
      // width: 30px;
      // height: 30px;
      // border-radius: 50%;
      // background-color: var(--background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        color: var(--primary-color);
        font-size: 2.5rem;
      }
      .count {
        position: absolute;
        width: 16px;
        height: 16px;
        top: -4px;
        right: -4px;
        color: white;
        font-size: 14px;
        background-color: white;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }
    .user_icon {
      cursor: pointer;
    }
  }
  .navbar_item {
    color: #d1d0cf;
    transition: all 0.3s;
    &.active {
      color: var(--primary-color);
    }
    &:hover {
      color: var(--primary-color);
    }
  }
}
